*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
    background:linear-gradient(#232325a9, #43302ac2);
   
        
}



/* ########## estilo del index ############# */


    .header {
        width: 100%;
        background-image: url(../img/galeria/header2.jpg);
        background-repeat: no-repeat ;
        background-size: cover;
        height: 400px; 
        display: flex;
        flex-direction: column;
        


    }
        .navbar{
            margin-top: 5px;
            width: 100%;
            height: 45px;
            background-color:
            #dadada9b
           
        }
       
      
            .navbar-toggler-icon{
                 position: absolute;
                 top: 2px;
                 left: 3px;
                 width: 20px;
                 height: 20px;
            
             }

            .navbar-toggler{
                  position: relative;
                  height: 25px;
                width: 30px;
             }
             .container-fluid{
                width: 100%;
                min-height: 40px;
             }

             .navbar-collapse{
                 width: 100%;
                z-index: 3;
                 min-height: 40px;
                 background:linear-gradient( #dadada91, #dadadae3, #d5d3d3)
                
        }

            nav ul a:hover{
                  background-color:#dadada8d;
                 
           
            
        }

         .header h1  {
             margin-top: 8%;
             vertical-align: middle;
             text-decoration: overline;
             text-align: center;
             font-weight: bolder;
               
          
        }
        .header h3  {
            text-align: center;
            margin: 5px;
            font-style: italic;
            text-align: center;
            
        }
  


    
     
      .bienvenido { 
        
        display:flex;
        flex-direction: column;
        padding:150px;
        text-align: center;

    }
    .bienvenido h2{
        vertical-align: middle;
        align-items: center;
        text-decoration:overline
    }


    .bienvenido p{
    text-align: center;
  
    
   }

      
   
 .navegacion-container { 
     display: grid;
     grid-template-columns: repeat(1,1fr);
     grid-auto-rows: 250px;
     width: 100%;
    
      
    }

    
    

    .navegacion-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1,1;
        
    }

        .navegacion-container a:hover {
            background-color: #dadadad2;
            font-size: 15px;
            padding:5px;
            border-radius: 10%;
            
        }
   
     .navegacion_sobremi{ 
        width: 100%;
      position: relative;
      

    }
         .navegacion_sobremi a{
         position: absolute;
         top:50%;
         left:42%;
         text-decoration: overline underline;
         color: black;
         font-weight:bolder ;
    }

    .navegacion_galeria{
     position: relative;
     

    } 
        .navegacion_galeria a{
         position: absolute;
         top:50%;
         left:42%;
         text-decoration: overline underline;
         color: black;
         font-weight:bolder ;
    }

    .nevegacion_fineart{
      position: relative;
       
    }
         .nevegacion_fineart a{
             position: absolute;
             top:50%;
             left:42%;
             text-decoration: overline underline;
             color: black;
             font-weight:bolder ;
    }

        .nevegacion_contacto{
        position: relative;
      
    }

      
        .nevegacion_contacto a{
            position: absolute;
            top:50%;
            left:42%;
            text-decoration: overline underline;
            color: black;
            font-weight:bolder ;
        }

        @media screen and (min-width:760px){
            .navegacion-container{ 
                grid-template-columns: repeat(2,1fr);
                grid-auto-rows: 300px;
        }
              
        }
        @media screen and (min-width:1100px){

            .navegacion-container{ 
                grid-template-columns: repeat(4,1fr);
                grid-auto-rows: 300px;
            }
        }
        
        


        /* ########## ESTILO DE GALERIA ########### */
        .container{
            width: 100%;
        }

        .galery-container{
            display: grid ; 
            grid-template-columns: repeat(3,1fr);
            width: 100%;
            grid-auto-rows: 150px;
            z-index: 0;
            
            


        }
        .galery-item{
            position:relative;
        }
        .galery-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 3px;
        }
        .galery_text{
            position:absolute;
            bottom: 0;
            color:white;
            background: linear-gradient(rgba(255,255,255,0.1),rgba(0,0,0,1));
            width: 100%;
            margin:0;
            padding: 3;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: smaller;
        }   
        .galery-item:nth-child(4) {
            grid-column-start: span 2; 

        }

        .galery-item:nth-child(3){
            grid-row-start: span 2;
        }
        .galery-item:nth-child(6) {
            grid-column-start: span 2; 
        }
        .galery-item:nth-child(11) {
            grid-column-start: span 2; 
            grid-row-start: span 2;
        }
        .galery-item:nth-child(10) {
            grid-row-start: span 2; 
        }

  @media screen and (min-width:760px){
            .galery-container{ 
                grid-template-columns: repeat(4,1fr);
        }

        .galery-item:nth-child(2) {
            grid-column-start: span 2; 
            grid-row-start: span 2;
        }
        .galery-item:nth-child(3) {
           
              grid-row-start: span 2;
        
         }
         .galery-item:nth-child(6) {
              grid-column-start: span 1; 
         }
         .galery-item:nth-child(1) {
             grid-row-start: span 2; 
         }
         .galery-item:nth-child(8) {
             grid-column-start: span 2; 
         }
         .galery-item:nth-child(9) {
             grid-row-start: span 3; 
         }
   
     }

@media screen and (min-width:1100px){

    .galery-container{ 
        grid-template-columns: repeat(5,1fr);
    }



    .galery-item:nth-child(4) {
        grid-column-start: span 2; 
        grid-row-start: span 3;
    }
    .galery-item:nth-child(7) {
        
        grid-row-start: span 2;
    
    }
    .galery-item:nth-child(11) {
        grid-column-start: span 1; 
        grid-row-start: span 1;
    }
    .galery-item:nth-child(8) {
        grid-column-start: span 3; 
        grid-row-start: span 4;
    }
    .galery-item:nth-child(3) {
        grid-column-start: span 2; 
    }
    .galery-item:nth-child(5) {
         
           grid-row-start: span 2;
    }
    .galery-item:nth-child(6) {
         
        grid-row-start: span 2;
 }
}